:host {
  display: block;
  height: 100vh;
  overflow: hidden;
}

.gradient-bg {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #000428, #004e92);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 20px;
  box-sizing: border-box;
}

.calendar-container {
  flex: 1;
  overflow-y: auto;
  margin-top: 60px; /* espacio arriba para bajar el calendario */
}


