<div class="sidebar">
  <div class="sidebar-header">
    <h3 class="text-center text-white">Grupo Noctua</h3>
  </div>
  
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/perfil" routerLinkActive="active">
        <i class="bi bi-person-circle"></i> Perfil
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/chat" routerLinkActive="active">
        <i class="bi bi-chat"></i> Chat
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/carpeta" routerLinkActive="active">
        <i class="bi bi-folder"></i> Carpeta
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/calendario" routerLinkActive="active">
        <i class="bi bi-calendar"></i> Calendario
      </a>
    </li>
  </ul>
</div>

  