<div class="vh-100 d-flex justify-content-center align-items-center gradient-bg">
  <div class="card p-4 shadow-lg" style="width: 100%; max-width: 400px; border-radius: 15px;">
    <h2 class="text-center mb-4">Iniciar sesión</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="mb-3">
        <label for="username" class="form-label">Usuario o Email</label>
        <input type="text" class="form-control" id="username" placeholder="Ingresá tu usuario o email" formControlName="username">
        <div *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid" class="text-danger">
          El usuario es obligatorio.
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" placeholder="Ingresá tu contraseña" formControlName="password">
        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="text-danger">
          La contraseña es obligatoria.
        </div>
      </div>

      <div *ngIf="mensajeError" class="alert alert-danger">
        {{ mensajeError }}
      </div>

      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Entrar</button>
        <button type="button" class="btn btn-success" (click)="mostrarModalRegistro()">Registrarte</button>
      </div>
    </form>
  </div>
</div>

<app-register *ngIf="modalRegistroVisible" (cerrar)="cerrarModalRegistro()"></app-register>
