<div class="container mt-4">
  <h3>Crear nuevo expediente</h3>
  <form (ngSubmit)="crearCarpeta()" #formulario="ngForm">
    <div class="row g-3">
      <div class="col-md-4">
        <input type="text" class="form-control" name="nombre" [(ngModel)]="nombre" placeholder="Nombre" required />
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control" name="apellido" [(ngModel)]="apellido" placeholder="Apellido" required />
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control" name="dni" [(ngModel)]="dni" placeholder="DNI" required />
      </div>
    </div>

    <div class="mt-3">
      <input type="file" class="form-control" (change)="onFileSelected($event)" multiple required />
    </div>

    <div class="mt-4">
      <button type="submit" class="btn btn-primary">Crear expediente</button>
    </div>
  </form>
</div>
